<!-- ========================================
     TAB-BAR RECLUTAMIENTO COMPONENT
     ======================================== -->

<div class="tab-bar" id="tab-bar-reclutamiento">
    <div class="tab-bar-content">
        <div class="tab-bar-item" data-tab="menu" onclick="navigateToTabReclutamiento('menu')">
            <i class="far fa-bars tab-bar-icon"></i>
            <span class="tab-bar-text ubits-body-xs-regular">Menu</span>
        </div>
        <div class="tab-bar-item" data-tab="perfil" onclick="navigateToTabReclutamiento('perfil')">
            <img src="images/Profile-image.jpg" alt="Mi perfil" class="tab-bar-avatar">
            <span class="tab-bar-text ubits-body-xs-regular">Mi perfil</span>
        </div>
        <div class="tab-bar-item" data-tab="modo-oscuro" onclick="navigateToTabReclutamiento('modo-oscuro')">
            <i class="far fa-moon tab-bar-icon"></i>
            <span class="tab-bar-text ubits-body-xs-regular">Modo oscuro</span>
        </div>
    </div>
</div>
